[2014-02-06 15:10] cebe opened #1 "Implement GFM"
- [x] ~~delete syntax~~
- [x] fenced code
- [x] auto highlight urls
- [x] single line linebreaks feature
- [ ] ~~tables~~ - will not add tables in this release. will come with #10

[2014-02-06 15:10] cebe opened #2 "Implement support for link references"

[2014-02-06 15:11] cebe opened #3 "Preserve tabs in code blocks"

[2014-02-06 16:31] cebe opened #4 "Add more tests"

[2014-02-06 16:32] cebe opened #5 "Add negative tests"
need tests to ensure that things that are not ment to be parsed as markdown elements stay as they are.

[2014-02-07 14:49] cebe opened #8 "PHP 5.3 compatibility"
When we are not going to use traits, dependency should be lowered to PHP 5.3.

[2014-02-08 17:56] cebe opened #11 "Implement lazy lists correctly"
current implementation does not support some cases.

[2014-02-09 12:39] cebe opened #12 "Add SmartyPants support"
- http://daringfireball.net/projects/smartypants/
- https://github.com/vmg/redcarpet#also-now-our-pants-are-much-smarter

[2014-02-10 15:52] #11 closed, assigned to nobody

[2014-02-10 16:54] cebe opened #13 "Complete image support"

[2014-02-10 16:59] #2 closed, assigned to nobody

[2014-02-10 17:47] #3 closed, assigned to nobody

[2014-02-10 17:58] cebe opened #14 "Work around undefined constant on hhvm"
https://travis-ci.org/cebe/markdown/jobs/18594954#L69

bug: https://github.com/facebook/hhvm/issues/1120

[2014-02-10 18:22] #14 closed, assigned to nobody

[2014-02-10 18:49] #4 closed, assigned to nobody

[2014-02-10 18:53] cebe opened #17 "Add some basic documentation and fill readme"

[2014-02-13 12:12] cebe opened #18 "Support starting ordered lists at arbitrary number"
https://github.com/erusev/parsedown/issues/100

[2014-02-15 12:50] #1 closed, assigned to nobody

[2014-02-15 21:09] cebe opened #19 "decode urls in anchor text"
Consider this url:

`http://en.wikipedia.org/wiki/Mase_%28disambiguation%29`

would be better readable as `http://en.wikipedia.org/wiki/Mase_(disambiguation)`

but may not be copy&paste friendly anymore... opinions?

[2014-02-16 15:11] cebe opened #20 "improved matching for emph on words containing underscores"
https://github.com/yiisoft/yii2/pull/2452/files

[2014-02-17 20:05] cebe opened #21 "Check whether inline parsing can be speed up by using strpbrk()"
http://www.php.net/manual/en/function.strpbrk.php

other useful functions:
- http://www.php.net/manual/en/function.strspn.php
- http://www.php.net/manual/en/function.strstr.php
- http://www.php.net/manual/en/function.strtok.php

[2014-02-17 21:20] #19 closed, assigned to nobody

[2014-02-17 21:56] cebe opened #22 "Avoid errors and allow better extensibility for inline markers"
inline markers should be defined in a method that will merge arrays with the call from parent implementation.

[2014-02-17 22:03] cebe opened #23 "add flavor switch to command line tool"

[2014-02-17 23:06] #17 closed, assigned to cebe

[2014-02-17 23:06] #22 closed, assigned to nobody

[2014-02-17 23:40] #13 closed, assigned to nobody

[2014-02-18 00:58] #23 closed, assigned to nobody

[2014-02-18 00:58] cebe opened #24 "CLI: Send error output to stderr"

[2014-02-18 00:59] cebe opened #25 "Add MarkdownExtra"
http://michelf.ca/projects/php-markdown/extra/
- [ ] inline HTML
- [ ] Markdown Inside HTML Blocks
- [x] Special Attributes
- [x] Fenced Code Blocks
- [x] tables
- [ ] Definition Lists
- [ ] Footnotes
- [ ] Abbreviations
- [ ] Emphasis
- [x] Backslash Escapes

[2014-02-18 09:18] cebe opened #26 "better parsing for nested elements with emph, strong and links"
https://github.com/karlcow/markdown-testsuite
https://github.com/erusev/parsedown/issues/107#issuecomment-35362535

[2014-02-18 10:08] iJackUA opened #27 "Render issues for header and separator"
Hi, I have found couple render issues when some tags are not displayed.
Not sure maybe it is wrong Markdown markup, but other parser (I test Ciconia, php-markdown, parsedown and your one) display it as expected

Example 1
![selection_079](https://f.cloud.github.com/assets/568566/2193909/681f9130-9884-11e3-9bb3-83711ded9bf9.png)

[code]

Example 2
![selection_080](https://f.cloud.github.com/assets/

[2014-02-18 13:08] #27 closed, assigned to nobody

[2014-02-20 18:17] cebe opened #28 "Add option to disable all HTML"
option to only allow markdown syntax.

[2014-02-24 13:55] cebe opened #29 "Consider support for Task lists in GFM"
https://github.com/blog/1375-task-lists-in-gfm-issues-pulls-comments

Not sure how exactly as there is an interface needed to work with the information externally.

[2014-02-24 20:36] #21 closed, assigned to nobody

[2014-02-25 07:03] zinzinday opened #30 "Greate repo"
Please build yii2 extension markitup widget for markdown parser.
I liked your markitup widget  using on yiiframework official site.

Thanks

[2014-02-25 10:31] #30 closed, assigned to nobody

[2014-02-26 07:42] #24 closed, assigned to nobody

[2014-02-28 14:21] cebe opened #33 "Add testcase for simple references"
[code]

is a vaild reference.

[2014-03-06 07:07] maximal opened #35 "Module for Emoji"
Emoji is a de-facto standard for smileys nowadays.

[2014-03-06 07:09] maximal opened #36 "Modules applying/not-applying to already marked blocks"
What if I want to do an extension to your markdown which should not to be applied to some blocks?

In this case I don’t want Emoji (#35) be applied to fenced code blocks:

[code]

In other modules I may want to do such recursive processing.

As I remember current Markdown declaration is not strict about that. It’s not strict on many questions at all.
Hence many of issues (italics inside of `links_

[2014-03-12 12:53] peter-gribanov opened #38 "Incorrectly perceives multiline code in quote"
Example:

[code]

Expected:

[code]

Actual:

[code]

[2014-03-19 11:14] peter-gribanov opened #39 "Point after a simple link"
Example:

[code]

Expected:

[code]

Actual:

[code]

It is not a critical error, but GitHub handles it fine:

[2014-03-20 09:08] peter-gribanov opened #41 "Shielding does not work in links"
Example:

[code]

Expected:

[code]

Actual:

[code]

[2014-03-21 11:14] peter-gribanov opened #42 "Add support tables"
I understand now the tables are not supported. Only as an [inline HTML](http://daringfireball.net/projects/markdown/syntax#html), but it might be worth adding support conventional format.

https://help.github.com/articles/github-flavored-markdown#tables
http://www.tablesgenerator.com/markdown_tables

[2014-03-21 14:41] #42 closed, assigned to nobody

[2014-04-01 09:03] mikehaertl opened #44 "Github flavoured markdown is missing syntax highlighting"
As the title says. You could perhaps use either [PEAR Text highlighter](http://pear.php.net/package/Text_Highlighter/) (Also used by Yii1) or [GeSHi/geshi-1.0](https://github.com/GeSHi/geshi-1.0)

[2014-04-17 23:00] #18 closed, assigned to nobody

[2014-04-17 23:13] #39 closed, assigned to cebe

[2014-04-25 23:48] #41 closed, assigned to nobody

[2014-04-26 00:27] #38 closed, assigned to cebe

[2014-04-26 00:48] #33 closed, assigned to nobody

[2014-04-26 01:03] #5 closed, assigned to nobody

[2014-05-04 23:39] cebe opened #45 "issue with multiple lines before headline"
example:

[code]

see yiisoft/yii2#3349

[2014-05-21 00:09] cebe opened #46 "Handle invalid utf8"
see https://github.com/yiisoft/yii2/pull/3518

[2014-05-24 20:48] #45 closed, assigned to nobody

[2014-05-24 20:57] #36 closed, assigned to nobody

[2014-05-28 15:50] cebe opened #47 "Consider current nesting level of inline elements"
i.e. links inside of links are not useful.

example:

[code]

[link to http://www.google.com/](http://www.google.com/)

[2014-06-08 21:02] cebe opened #48 "Add context to parser to disable/enable markers in different contexts"
This is needed for example to solve problems with element nesting and also parse table separators by taking into account inline element separation.

See erusev/parsedown#184

[2014-06-10 12:26] #47 closed, assigned to nobody

[2014-06-11 21:46] #48 closed, assigned to nobody

[2014-06-11 21:49] #8 closed, assigned to nobody

[2014-06-13 17:24] cebe opened #49 "nested lists are not handled correctly"
[code]
- list1
- list2
  - list2.1

[2014-06-13 17:29] cebe opened #50 "table of cronjobs should not result in empty ems"
[code]

| cron |
| --- |
| \* \* \* \* * |

[2014-06-14 21:20] josegonzalez opened #51 "Leanpub Markdown Support"
Docs are here: https://leanpub.com/help/manual

I have a partial implementation [here](https://gist.github.com/josegonzalez/ed3df2db9e20a81f77a0) (no tests, just my own checking of things)

Also in that gist is a partial list of things we need to support in a LeanpubMarkdown parser

[2014-06-18 01:31] donquixote opened #52 "Use DOMDocument for html parsing?"
_Disclaimer: This question is mostly out of selfish curiosity._

Background: I was trying to get the best out of a number of Markdown-related Drupal modules, and ended up writing my own version of the `{.className#id}` mechanic. Then I went around looking at different Markdown implementations in PHP, and found this one, which is probably the best currently available (but [not used in the Drupal ma

[2014-06-28 03:00] #49 closed, assigned to cebe

[2014-07-19 11:27] cebe opened #53 "Problem with lists and indented references"
http://markdown.cebe.cc/try?flavor=gfm&text=link+[ref1]%0D%0A%0D%0A-+item+1+[ref2]%0D%0A-+item+2%0D%0A%0D%0A++[ref1]%3A+http%3A%2F%2Fexample.com%2Fa%0D%0A[ref2]%3A+http%3A%2F%2Fexample.com%2Fb

[2014-07-23 08:32] despotbg opened #54 "Wrong interpretation escaping (non-markdown) characters inside link."
Hi. My text editor make markdown for escaping (non-markdown) characters with two backslashes. I know rule for escaping characters is one backslash but still cebe/markdown work OK with two backslash rule.
Example:
``` nice [video](http://www.youtube.com/video\\-one). Nice\\-video star \\* ```
after proceeding with cebe/markdown I get:
nice [video](http://www.youtube.com/video\\-one). Nice\-video st

[2014-08-06 12:35] dolfinitylearning opened #55 "Custom tags/extensions"
A nice thing about ReST is its standard for adding custom directives. Would such a thing be useful in cebe/markdown?

Kramdown does this:

{::comment}
This is a comment which is
completely ignored.
{:/comment}

Inline {::nomarkdown}something here{:/}!

{::options auto_ids="false" /}

An alternative:

@tag arg arg
content content content

content content content
/@tag

Docutils (the lib with the Re

[2014-08-06 18:25] ghost opened #56 "Less sensitivity to spaces?"
This...

`![Alt text](/path/to/img.jpg)`

...works. This...

`![Alt text]( /path/to/img.jpg)`

...does not. There's a space after the (.

It would be easier on authors if the parser was less sensitive to such things. I know that such a change would break compatibility with other MD libraries. However, it's a _good_ change. It would make make the library more useful, and devs would be more likely t

[2014-08-22 23:04] samdark opened #57 "<?php tag missing in a code block"
There's no PHP tag before `Spaceless::end()` [in rendered documentation](http://stuff.cebe.cc/yii2docs/yii-widgets-spaceless.html) while it is in the code https://github.com/yiisoft/yii2/blob/master/framework/widgets/Spaceless.php#L27.

[2014-08-23 11:03] #57 closed, assigned to nobody

[2014-08-26 12:33] cebe opened #58 "HTML issues with non closing elements"
http://markdown.cebe.cc/try?flavor=default&text=%3Clink+rel%3D%22stylesheet%22+href%3D%22file.css%22%3E%0D%0A%0D%0Atest+**test**+test

related to #52

[2014-08-27 07:40] romeOz opened #59 "Adding class/id to table"
Hi, Cebe. Maybe you can add a `class`/`id` to the table.
Example:

[code]

Result:

[code]

My implementation based on your library turned out to be [dirty](https://github.com/romeo7/rock/blob/master/framework/core/markdown/Markdown.php#L124).

[2014-09-02 09:05] cebe opened #60 "email adresses should be encoded"
http://markdown.cebe.cc/try?flavor=default&text=my+mail%3A+%3Cmail%40cebe.cc%3E

[2014-09-04 08:48] cebe opened #62 "Get in line with CommonMark"
https://github.com/jgm/CommonMark

[2014-09-12 13:40] maximal opened #63 "Invalid link list rendering"
This text is not rendered correctly (GitHub renderer):

[code]

Rendered as:

[code]

Note ending linefeed in texts and hrefs.

[2014-09-12 13:44] #63 closed, assigned to nobody

[2014-09-18 06:29] callmez opened #64 "**strong text***emphasized text* parse error"
`**strong text***emphasized text*` should parse as `<strong>strong text</strong><em>emphasized text</em>`

[2014-10-03 11:00] maximal opened #65 "GFM lists rendering without empty line before them"
Source:

[code]

Rendered by [Github renderer](https://gist.github.com/maximal/ffd25d7c774ad40e0532) (in gists, for instance):

[code]

Rendered in [your GFM](http://markdown.cebe.cc/try?flavor=gfm&text=Text+before+list%3A%0D%0A+%2A+item+1%2C%0D%0A+%2A+item+2%2C%0D%0A+%2A+item+3.%0D%0A%0D%0AText+after+list.):

[code]

Github result is more intuitive and semantically correct, even though in origina

[2014-10-03 18:40] raminious opened #66 "Support RTL"
Hi, Cebe.
Have you any plan to support RTL (Right To Left) languages ?

[2014-10-09 22:32] cebe opened #68 "improve lazy list detection"
second item should not be considered lazy as the rendered content is empty:

http://markdown.cebe.cc/try?flavor=default&text=link+[ref1]%0D%0A%0D%0A-+item+1+[ref2]%0D%0A-+item+2%0D%0A%0D%0A++[ref1]%3A+http%3A%2F%2Fexample.com%2Fa%0D%0A[ref2]%3A+http%3A%2F%2Fexample.com%2Fb

[2014-10-09 22:41] cebe opened #69 "improve absy representation of tables"
current internal implementation is hacky.

[2014-10-09 22:43] cebe opened #70 "remove Parser context and use absy for this instead"

[2014-10-09 22:44] cebe opened #71 "differentiate reference links and normal links in absy"

[2014-10-09 22:59] cebe opened #72 "include explicit newlines in the absy"

[2014-10-10 00:58] #46 closed, assigned to nobody

[2014-10-10 00:58] #53 closed, assigned to nobody

[2014-10-10 01:49] cebe opened #73 "Performance is quite down after new refactoring and extension approach"
[code]

Thinking about making two variants:
- super fast but not so easy to extend
- highly extensible but a bit slower

[2014-10-10 11:07] #65 closed, assigned to nobody

[2014-10-11 03:03] romeOz opened #74 "Invalid output utf8 chars"
Hi, Cebe. May all the same you will add the flag `u`, as shown [PHP Regex: How to match \r and \n without using [\r\n]](http://stackoverflow.com/questions/18988536/php-regex-how-to-match-r-and-n-without-using-r-n/18992691#18992691).

Namely:

[code]

[2014-10-14 07:02] maximal opened #75 "Code blocks in markdown being surrounded by paragraphs"
Source:

[code]

Rendered as (in GFM mode):

[code]

Github rendering: yiisoft/yii2#5537.

[2014-10-15 14:13] alQlagin opened #76 "Parser::parse() unicode bug"
In [Parser](https://github.com/cebe/markdown/blame/master/Parser.php#L57) you replace newline sequences using ~\R~ instead of ~\R~**u**.

Because of that russian х letter (unicode number is U+0445) became unreadable after preg_replace execution. Using [u flag](http://php.net/manual/ru/reference.pcre.pattern.modifiers.php) would solve this problem.

For example you can use [this](https://github.com

[2014-10-15 17:45] #76 closed, assigned to nobody

[2014-10-17 12:29] maximal opened #77 "Problem with Cyrillic letter `х`"
Recently, a problem with Cyrillic letter `х` has appeared.

Input:

[code]

Output [in any renderer](http://markdown.cebe.cc/try?flavor=default&text=%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9):

[code]

Expected:

[code]

Most likely a problem is in the byte-sequence of this letter in UTF-8.

[2014-10-17 12:38] #77 closed, assigned to nobody

[2014-10-23 15:57] cebe opened #79 "auto URL linking should not be done in HTML links"
http://johnmacfarlane.net/babelmark2/?normalize=1&text=%3Ca+href%3D%22http%3A%2F%2Fgoogle.com%22+target%3D%22_blank%22%3Ehttp%3A%2F%2Fgoogle.com%3C%2Fa%3E

[2014-10-24 23:33] cebe opened #81 "fix readme"
http://williamdurand.fr/2013/07/04/on-open-sourcing-libraries/

[2014-10-25 15:15] #81 closed, assigned to nobody

[2014-10-25 16:03] #74 closed, assigned to nobody

[2014-10-25 23:41] stepanselyuk opened #82 "Cyrillic symbol `х` becomes to `�`"
Hello,
after parsing a string I see `�` instead of all Cyrillic symbol `х` instances.

Example:

`В вашей системе установлены следующие параметры: максимальный размер отправляемых данных: **{post_max_size}**, максимальный размер загружаемых файлов: **{upload_max_filesize}**. Если вы попытаетесь загрузить файл размер которого *больше*, чем минимальное из этих значений, то произойдет ошибка. Вы може

[2014-10-26 10:58] #82 closed, assigned to nobody

[2014-10-30 09:28] Soullivaneuh opened #83 "Deactivate some functionalities ?"
Hi and thanks for you project. :+1:

I created my own MarkdownParser and I want to deactivate some functionalities like title and raw html parsing.

What is the better way to do that ? Nothing on the documentation, it could be good to have a section for that! :)

Thanks.

[2014-11-07 11:27] #75 closed, assigned to nobody

[2014-11-07 12:42] #64 closed, assigned to nobody

[2014-11-07 12:53] #56 closed, assigned to nobody

[2014-11-11 04:15] djfly opened #85 "bug parse Any excess of p tag"
[code]

parse result will be

[code]

`br>` Also

this is in chinese have problem

[2014-11-12 01:24] #85 closed, assigned to nobody

[2014-11-24 17:42] dimys opened #86 "Add support style for paragraph"
[code]

[code]

Sorry, i on github 2 days, pull request not yet mastered.

[2014-11-25 08:15] dimys opened #87 "About method cleanup()"
https://github.com/cebe/markdown/blob/master/Parser.php#L104

How I can use it, if there is no incoming data?
Мay be like this

[code]

[2014-11-25 20:47] #87 closed, assigned to nobody

[2014-12-01 17:17] cebe opened #88 "references should be part of the absy."

[2014-12-01 19:01] cebe opened #89 "list should be separated by a HR"
http://markdown.cebe.cc/try?flavor=gfm&text=-+foo%0D%0A***%0D%0A-+bar
http://spec.commonmark.org/0.12/#example-18
http://spec.commonmark.org/0.12/#example-21

related to #62

[2014-12-16 23:15] cebe opened #90 "Inspiration on new parsing strategy"
- use a tokenizer/lexer first
- parse
- allow non LL parsing, i.e. backtrack, context exploration
  - https://github.com/thephpleague/commonmark/commit/4f521621f1207f7e62144d45cdd5263204c61166#commitcomment-8994329

[2014-12-20 04:05] djfly opened #91 "“#” problem"
in gihub if you write `#1` will Reference a issue
in markdown `#1` means `<h1>1</h1>`

i'm use Github flavored Markdown, `#1` Should not be translated into  `<h1>1</h1>`

this situation occurs only in the first word is `#`

This issue is not very important

[2015-01-05 15:07] cebe opened #93 "nested lists are broken"
http://markdown.cebe.cc/try?flavor=default&text=-+test%0D%0A-+test%0D%0A+++-+test%0D%0A+++-+test%0D%0A%0D%0A-+test

[2015-01-07 02:09] cebe opened #94 "Markdown eats brackets..."
` [ ] ` just hides, should stay as is.

[2015-02-04 17:39] 2byte opened #96 "No working"
[code]

Not effect

[2015-02-04 18:43] cebe commented on #96
do you have error_reporting turned on and display_errors set to true?

[2015-02-04 19:28] 2byte commented on #96
Of Course!

[2015-02-04 19:30] 2byte commented on #96
[code]
First `#title` working, other not

[2015-02-04 19:35] 2byte commented on #96
Problems because of tab.

[code]

[2015-02-04 22:23] cebe commented on #96
yeah this is expected, markdown is sensitive to whitespace so you must not include trailing whitespace in the string.

[code]

this way it will work.

[2015-02-04 22:23] #96 closed

[2015-03-06 01:59] cebe commented on #94
unable to reproduce, was a bug in an extension.

[2015-03-06 01:59] #94 closed

[2015-03-06 03:32] #68 closed

[2015-03-06 03:32] #93 closed

[2015-03-06 04:05] #91 closed

[2015-03-06 04:38] #54 closed

[2015-03-06 05:08] cebe commented on #83
The README now has a section that explains it: https://github.com/cebe/markdown#composing-your-own-markdown-flavor

[2015-03-06 05:08] #83 closed

[2015-03-11 20:02] philsturgeon opened #99 "Backticks inside inline code blocks"
This is one of those things that would be made easier with CommonMark compliance, but even without that as a goal seems like a bug to me.

**Example**

    Please remove the `\` from ` \``` `

**Babelmark**

http://johnmacfarlane.net/babelmark2/?text=Please+remove+the+%60%5C%60+from+%60+%5C%60%60%60+%60%0A

**Expected Output**

[code]

**Actual Output**

[code]

Just a friendly report. I'm not try

[2015-03-12 19:07] cebe commented on #99
Thanks for reporting, already seen your tweet about it :)

The implementation is correct according to grubers markdown syntax description: https://daringfireball.net/projects/markdown/syntax#code
According to that, if you want to include a literal backtick, you have to surround the whole code tag with more than one backtick:

http://markdown.cebe.cc/try?flavor=default&text=Please+remove+the+%60\%6

[2015-03-12 19:09] cebe commented on #99
I am considering to add a commonmark compatible class however when I find the time for it.

[2015-03-15 16:03] alex-moreno opened #100 "github headers"
Github has the possibility to add header information, something like:

---
layout: post
title: "My post"
description: ""
category: blog
author: alex_moreno
comments: true
share: true
---

is that possible with your implementation? I'd like to contribute that back if possible, could you quickly guide me?

Thanks in advance, good job :-).

[2015-03-17 18:29] cebe commented on #100
what do you mean with "Github has the possibility to add header information"? where would I add them and what would be the result?
The syntax you gave above is for link references.

[2015-03-17 18:32] josegonzalez commented on #100
@alex-moreno do you mean jekyll?

[2015-03-17 19:12] alex-moreno commented on #100
Yep, sorry, yekyll. Thinking later, that should  probably not be
implemented here.
On 17 Mar 2015 18:32, "Jose Diaz-Gonzalez" <notifications@github.com> wrote:

[2015-03-17 19:23] cebe commented on #100
You can write an extension for this then.

[2015-03-17 19:23] #100 closed

[2015-03-19 12:25] softark opened #102 "Creole wiki parser"
I wrote a Creole wiki parser as an extension to the Parser class. It's a sibling of the Markdown class.

You can see it in the "creole" branch of my fork.
https://github.com/softark/markdown/tree/creole

Well, then, I think I have two options now.

1. Making a PR to include this creole "flavor" directly in your markdown parser library.
2. Restructuring the code to make it a separated library that

[2015-03-19 15:36] cebe commented on #102
cool, but I think this deserves its own repository as it is not markdown but another markup language.

[2015-03-19 22:05] softark commented on #102
OK. Thanks.
I'll create a repository for it.

[2015-03-19 23:01] softark commented on #102
Done.
https://github.com/softark/creole

[2015-03-19 23:01] #102 closed

[2015-03-20 11:07] cebe commented on #102
Added it to the list of extensions in the readme: https://github.com/cebe/markdown/commit/e14d3da8f84eefa3792fd22b5b5ecba9c98d2e18

[2015-03-20 23:03] softark commented on #102
Thank you.

[2015-04-27 23:51] softark opened #103 "OPCode cache breaks the parsing of inline elements"
With some OPCode cache enabled, Parser::inlineMarksers() returns an empty array since the docComments has been removed from the source code in the runtime. As a consequence, we won't be able to parse any inline elements.

Tested with PHP 5.6.3 and Zend OPCache 7.0.4-dev / XAMPP 5.6.3 for Windows.

[2015-04-27 23:53] samdark commented on #103
There's a setting for it: `opcache.save_comments=1`.

[2015-04-28 00:00] softark commented on #103
I got it. Thanks.

But it looks to me a drawback, anyway.

[2015-04-28 00:02] cebe commented on #103
the parser depends on phpdoc annotation to work properly. I do not have any plans to change this.
Could check for the setting and throw a warning though.

[2015-04-28 00:04] softark commented on #103
OK.
And it has to be noted in the documentation, I think.

[2015-04-28 15:13] djfly opened #104 "==== not parse"
`=====` not parse
#

`=====`  in github is parse to a line

and

`>123` not parse but github can parse

`> 123` need add space behind  `>`

[2015-04-28 16:26] djfly commented on #104
There is another problem about table
·········
1   | 2  | 3 | 4 | 5
----- | ----- | ------ | ----- | -----
1  | 2 | 3  |  |
1  | 2 | 3  | 4 | 5
1  | 2 | 3  | 4 | 5
············

Did not fill in the content of the cell will be lost

[2015-04-29 10:03] cebe commented on #104
`====` is not a horizontal rule according to the markdown syntax description: https://daringfireball.net/projects/markdown/syntax#hr

`>123` is also not part of the markdown description, but I will consider adding it.

what do you mean, please explain in more detail.

[2015-04-29 10:08] djfly commented on #104
look this
![123](http://chuantu.biz/t2/6/1430302041x-954498848.png)

[2015-04-29 10:22] cebe commented on #104
you can add enough pipes there to get it right: http://markdown.cebe.cc/try?flavor=gfm&text=1+|+2+|+3+|+4+|+5%0D%0A-----+|+-----+|+------+|+-----+|+-----%0D%0A1+|+2+|+3+|++++|+|%0D%0A1+|+2+|+3+|+4+|+5%0D%0A1+|+2+|+3+|+4+|+5

[2015-04-29 10:27] djfly commented on #104
thank you very much,your project is awesome

[2015-05-04 01:32] djfly opened #105 "about anchor generate"
in github if you write `#` or `##` `==` `---` this will generate anchor at the same time.
[code]

 your markdown have this features? how to open this features.

[2015-05-04 08:07] cebe commented on #105
You can add it yourself by overriding the `renderHeadline()` method like this:

https://github.com/yiisoft/yii2-apidoc/blob/0636763d08c00a383c19e8a52383618acbb5f224/helpers/ApiMarkdown.php#L80-L88

[2015-05-04 08:07] #105 closed

[2015-05-04 08:11] djfly commented on #105
thank you！

[2015-05-28 15:46] lichunqiang opened #106 "Safe mode?"
If is supported  a safe mode to prevent xss?

[2015-05-28 16:16] cebe commented on #106
no, you should use a library such as Html purifier for this.

[2015-05-28 16:16] #106 closed

[2015-06-19 07:08] kartik-v commented on #25
@cebe this is looking good... what is the target closure date for the pending items in this list?

[2015-06-19 13:11] cebe commented on #25
I currently do not have much time to work on this so I do not have a date for it. Feel free to implement things and send pull requests. Hope to get more time for open source work in a month or two.

[2015-08-03 23:07] fortkle opened #107 "Segmentation fault in Parser.php"
Thank you for your awesome markdown library! I will report a bug.

### What happened
Sometimes, segmentation fault occurs when using your library.
Perhaps , reflection method is the cause.

### Environment
- PHP 5.4.43 (cli) (built: Jul  8 2015 12:08:50)
- cebe/markdown 1.1.0

### What happened
[code]

#### coredump
[code]

#### filename and line
[code]

[2015-08-04 08:55] cebe commented on #107
looks like a bug in PHP, segfaults can not be caused by regular PHP code if PHP itself works properly. Please report this to https://bugs.php.net/

[2015-08-04 08:55] #107 closed

[2015-08-06 08:25] dlmwolf opened #108 "Expansion"
I want to add a Expansion,but i don't know how to do this.
So submit this issues.
I want to the `[ ]` to `<input type="checkbox">`.
and the  `[x]` to `<input type="checkbox" checked="checked">`.
Thanks for look that.

[2015-08-06 12:09] cebe commented on #108
duplicate of #29

[2015-08-06 12:09] #108 closed

[2015-08-12 02:23] dlmwolf commented on #108
@cebe Thank you

[2015-08-12 11:26] cebe commented on #108
you have to change the parsing of list elements: https://github.com/cebe/markdown/blob/master/block/ListTrait.php#L71

[2015-08-24 16:42] mindplay-dk opened #109 "Metadata support?"
Thoughts on adding support for [metadata](http://hiltmon.com/blog/2012/06/18/markdown-metadata/)?

I don't think this would be difficult to implement - I happen to need it, and I'm using your library, so wondering if you would be interested in a PR adding support for it.

My use-case is pretty trivial, I need a title and possibly a short title for generating menus for a static website from markdow

[2015-08-24 16:54] josegonzalez commented on #109
@mindplay-dk maybe take a look at how jekyll does frontmatter? It's pretty easy to extract that via a regex :)

[2015-08-24 17:14] mindplay-dk commented on #109
Yeah, it's not that I think it would be very difficult, but I think it might be generally useful :-)

[2015-08-24 17:41] nochso commented on #109
The most common variation I've seen is "YAML front matter". Keeps it readable and doesn't introduce yet another syntax/ML.

[2015-08-24 18:07] mindplay-dk commented on #109
Yeah, but YAML *is* another syntax. YAML front matter is basically delimiters around a YAML document embedded at the beginning of the document.

YAML is not Markdown - if it's embedded in that way, it would not render correctly in a regular Markdown renderer that does not explicitly support it. (Does GitHub support it?)

Preferable to the custom "front matter" syntax used by Jekyll, I think would

[2015-08-24 18:14] cebe commented on #109
I do not really think it fits into the library, how would the API look like for this? We have one method that gets markdown in and returns html. Where to return the meta data?

[2015-08-24 18:15] cebe commented on #109
Also I think meta data should not be part of the data itself so an extra file sounds more appropriate.

[2015-08-24 18:15] #109 closed

[2015-08-24 18:25] mindplay-dk commented on #109
If somebody did want to implement this, I was thinking a separate method, so e.g.:

[code]

The extra file approach, come to think of it, works when you have Markdown files - but it's no use when you're working with a CMS. (Of course, in a CMS you could have other UI surrounding Markdown inputs, so maybe that's a moot point as well...)

[2015-08-24 20:29] mindplay-dk commented on #109
Hmm, front matter does seems to be the de-facto standard, and there are several libraries out there that can parse it independently of a Markdown parser. My choice fell on [this one](https://github.com/kzykhys/YamlFrontMatter).

[2015-09-02 06:44] mindplay-dk opened #110 "Combining features from GFM and Extra?"
Is there an obvious way to combine features from `GithubMarkdown` and `MarkdownExtra` that I'm missing?

Specifically, I'd like to have GitHub-flavored markdown plus one or two features from Markdown Extra, mainly special attributes for headers, but this appears to be hard coded into MarkdownExtra rather than available as a trait?

Is there any practical reason why the implementations don't follow

[2015-09-03 11:03] cebe commented on #110
In general most of the markdown features can be combined using traits. For attributes however the implementation is very hard to extract as attributes are bound to each element in a slightly different way. that is the reason they can not easily be added like other features. I might have a look whether it is possible to adjust general design to improve this.

[2015-09-19 19:48] cebe commented on #26
another example, thanks @philsturgeon

http://johnmacfarlane.net/babelmark2/?normalize=1&text=_This+RFC+adds+a+new+operator+%28%60%3C%3D%3E%60%29+for+combined+comparison.+Similar+to+%60strcmp%28%29%60+or+%60version_compare%28%29%60+in+behavior%2C+but+it+can+be+used+on+all+generic+PHP+values+with+the+same+semantics+as+%60%3C%60%2C+%60%3C%3D%60%2C+%60%3D%3D%60%2C+%60%3E%3D%60%2C+%60%3E%60._

[2016-01-04 16:03] zinzinday opened #111 "**A****B** error"
markdown **A****B** only parse to `<strong>A</strong>` and **B**
I want parse to `<strong>A</strong><strong>B</strong>`
how to fix that?

[2016-01-04 16:22] samdark commented on #111
Should it produce `<strong>A</strong><strong>B</strong>`?

[2016-01-04 16:44] zinzinday commented on #111
Yes. i want to that

[2016-01-05 14:58] cebe commented on #111
yeah I know, see #26

[2016-01-21 09:15] dotzero opened #112 "Error parsing with custom html tag"
Broken parsing after using custom html tag.

[code]

Output:

[code]

[2016-01-21 11:47] #112 closed

[2016-01-21 11:47] cebe commented on #112
Fixed, thanks for reporting!

[2016-02-05 16:57] olegkrivtsov opened #113 "A small change request in Parser class"
Hi,

First of all thanks for this great library. It's really awesome!

I'm trying to use this library in my project. I want to extend the Markdown class and override its parse() and parseBlocks() methods (inherited from Parser class), but I can't do that because some fields/methods in Parser class are private.

So, my change request is:
  - make Parser::_depth property protected instead of private

[2016-02-05 17:33] josegonzalez commented on #113
:+1:

[2016-02-05 20:04] cebe commented on #113
In general I am against making private properties protected. As soon as they are protected they belong to the API that I have to maintain backward compatibility for. If there are good reasons to expose some properties I may change their visibility though.

$_depth is only for handling the $maximumNestingLevel, can you elaborate on why you need to access it?

what is the point of making this protec

[2016-02-06 03:00] olegkrivtsov commented on #113
Hi,

Thanks for your response.

When I'm trying to override Markdown::parse(), I have an error "Method missing prepareMarkers : prepareMarkers", because Parser::prepareMarkers() method is private. If you declare it as protected, I will be able to use it in a derived class.

When I'm trying to override Mardown::parseBlocks() method, I can't get access to the _depth, because it is private. Making it

[2016-02-06 03:34] josegonzalez commented on #113
In general, anything `protected` or `private` can be removed from the library. Those are explicitly not public interfaces. Therefore, I think the only thing you are doing is stoping people from "mucking" with internals. If you have a way to set properties used in protected methods, that works, but otherwise private properties should only be used by private methods.

[2016-02-06 16:14] cebe commented on #113
not if the library is created in a way that it is meant to be extensible. In this case I explicitly document how to extend the parser to add more markdown elements. So protected methods are part of the interface that is maintained and should not be broken.

This is a completely valid use case for private properties imo:

[code]

[2016-02-06 16:20] cebe commented on #113
@olegkrivtsov can you explain why you want to extend `parseBlocks()`?

[2016-02-06 16:29] olegkrivtsov commented on #113
I want to extend standard Markdown in a way that would allow to add a property list before any block-level element, for example like this:

[code]

This is a Leanpub-flawoured Markdown.

Here is my class: https://github.com/olegkrivtsov/openbook/blob/master/src/OpenBook/Markdown/LeanpubMarkdown.php

[2016-02-06 17:32] #113 closed

[2016-02-06 17:33] cebe commented on #113
@olegkrivtsov I have changed the logic of parseBlocks() to call a new method parseBlock() for each new block. Does this solve your problem?

[2016-02-07 02:34] olegkrivtsov commented on #113
It solves my problem partially. Besides parsing blocks differently, I also need to split absy by chapters and render each chapter to different html file. You can determine what I want to do if you look at this file: https://github.com/olegkrivtsov/openbook/blob/master/src/OpenBook/Markdown/LeanpubMarkdown.php

[2016-02-07 02:55] josegonzalez commented on #113
@olegkrivtsov omg can you make that `LeanpubMarkdown` parser a standalone composer package?

[2016-02-07 03:11] olegkrivtsov commented on #113
@josegonzalez I wat thinking of that

[2016-02-07 19:13] cebe commented on #113
@olegkrivtsov what is missing? I don't see it from the code.

[2016-02-08 12:35] olegkrivtsov commented on #113
@cebe OK, it solves my needs for now. Thank you.

[2016-02-09 16:16] maximal opened #114 "HTML embedding when multiple spaces are used for alignment"
Having this source text:
[code]

We get this result:
[code]

Maybe it would be more consistent to get this:
[code]

[2016-02-09 21:36] cebe commented on #114
yeah, that's definitively a bug.

[2016-02-09 22:10] #114 closed

[2016-02-09 22:10] cebe commented on #114
Fixed, thanks for reporting!

[2016-02-10 11:57] maximal commented on #114
On babelmark different parsers behave differently on this test, by the way.

[2016-02-10 12:03] maximal commented on #62
Commonmark as an open and unambiguous markwown standard is a really good idea.

[2016-02-10 12:30] cebe commented on #114
The majority handles it correctly.

[2016-02-10 12:35] olegkrivtsov commented on #113
Hi @cebe I've tried to use the enhancements you made, but they only partially satisfy my needs.

I need to split blocks by chapters, so each chapter will be rendered to a separate HTML file. I can do this with the current version of your code (by overriding `parse()` method and enumerating top-level absy blocks), but the problem is with cross-linking elements. A `[cross-link](#element-id)` may lin

[2016-02-10 12:48] cebe commented on #113
@olegkrivtsov could you open a new issue for that? Will look into that later.

[2016-02-10 13:25] olegkrivtsov opened #115 "Splitting markdown into several files / cross-linking problem"
I need to split blocks by chapters, so each chapter will be rendered to a separate HTML file. I can do this with the current version of your code (by overriding parse() method and enumerating top-level absy blocks), but the problem is with cross-linking elements.

A [cross-link](#element-id) may link to any element with "id" attribute. To correctly render links, I have to determine in what HTML fi

[2016-02-16 08:43] euclid1990 opened #116 "How to prevent xss attach ?"
I write following Markdown:
[code]
And using GithubMarkdown, But the parsed result show alert popup, how to sanitize it ?

[2016-02-16 09:04] samdark commented on #116
Using HTMLPurifier.

[2016-02-16 09:36] euclid1990 commented on #116
@samdark Can you give me this git repository ? :smile:

[2016-02-16 13:55] cebe commented on #116
https://packagist.org/packages/ezyang/htmlpurifier

[2016-02-16 13:55] #116 closed

[2016-02-24 23:41] samhastings opened #117 "Is it possible to extend an inline element to behave like a block element?"
I've extended your library to render a markdown image tag inside a `<figure>` element with alt text displayed in a `<figcaption>` element:

[code]

This almost works perfectly but with a slight hitch: the `<figure>` element is wrapped in `<p>...</p>` tags, which isn't valid HTML.

Is there any way of making the parser recognise this as a block element, thereby omitting the paragraph tags?

[2016-02-25 12:43] cebe commented on #117
This is not really possible because image is an inline element and the structure of the document is already finished at this point. if you add images on a single line you could introduce an image block by detecting lines begining with `![` and create an image block element.

[2016-02-25 15:58] olegkrivtsov commented on #115
Hi @cebe is there any progress on this? Can you just make these two changes:

  * make `Parse::parse()` method protected
  * and make `Parse::_depth` property protected

These small changes will not break your API and will allow me to use your library without tweaking.

[2016-03-08 08:50] Soullivaneuh opened #118 "Slack syntax integration"
Slack have a "special" markdown syntax: https://api.slack.com/docs/formatting

It would be great to have two things:
- Standard markdown to Slack markdown converter
- Slack markdown to HTML markdown converter

What do you think?

[2016-03-08 10:37] Soullivaneuh opened #119 "identifyUl override not working"
I am implementing on option for Slack support on my own parser.

Slack does not support lists and tables, so I override related `identify*(` methods to just return `false` for `ol`, `ul`, and `table`:

[code]

This works great for `ol` and `table` which are not converted, but `ul` is still identified and converted.

[2016-03-09 16:09] cebe commented on #119
this is because the function name is changed when importing the trait: https://github.com/cebe/markdown/blob/e4499350d8a94c4c693a7e784295eff7a717ae67/Markdown.php#L25

[2016-03-09 16:10] #119 closed

[2016-03-10 14:02] Soullivaneuh commented on #119
Actually, you have to override both of them:

[code]

Thanks for your help.

[2016-03-10 14:07] Soullivaneuh opened #120 "List transformed form * to _ when deactivate identify"
Following https://github.com/cebe/markdown/issues/119#issuecomment-194366913 comment, I overriding identifier to avoid list conversion:

[code]

Now, with the following input:

[code]

I got this:

[code]

So my list is not transformed to html, but transformed to another format. How this can be possible?

[2016-03-10 15:21] cebe commented on #120
parsing your markdown with the following class:

[code]

I get:

[code]

which is the expected parsing result. No idea why you see underscores instead.

[2016-04-21 09:32] mdmunir commented on #44
UP. Is any new news?

[2016-04-21 09:37] cebe commented on #44
Yii2 API doc has code highlighting https://github.com/yiisoft/yii2-apidoc/blob/master/helpers/ApiMarkdown.php#L87-L119 you can copy that.

[2016-05-24 00:33] claudiosw commented on #51
@josegonzalez, have you implemented it?
The link is not working anymore.

[2016-06-17 17:06] ypnos-web commented on #103
It would've saved my some time of research if this would've put out a warning. Encourage you to implement such a warning.

[2016-06-20 18:45] WadeShuler opened #122 "Installation Instructions Need To Be Clearer"
I just wasted a few minutes messing with your extension. I would create a pull request, but I am fairly busy.

You don't show an example or mention that you need to echo the `$parser->parse($markdown)`

It should be like this (I am using GitHub version):

    $markdown = file_get_contents( Yii::getAlias('@app/../todo.md') );

    $parser = new \cebe\markdown\GithubMarkdown();
    echo $parser->par

[2016-06-20 21:09] #122 closed

[2016-06-20 21:10] cebe commented on #122
added some echos, better now?

[2016-07-28 07:47] fardina opened #123 "How to replace $x<y$ with $x < y$"
I am using cebe markdown in my website for writing mathematics.
If I use less than sign it causes some problems in rendering mathjax, see here: http://docs.mathjax.org/en/latest/tex.html#tex-and-latex-in-html-documents

How can I search all the text for less than sign like "x<y" and replace it by "x < y"?

Thank you for your help

[2016-08-02 11:05] cebe commented on #123
how is that question related to this library? do you have a parsing method that handles your math syntax?

[2016-08-02 11:14] samdark commented on #123
Do this right before passing your text to markdown library:

[code]

[2016-08-28 11:24] babeuloula opened #124 "Fatal error: Call to undefined method identifyLine"
Hello,

I've tried your code :

[code]

But it doesn't work. Can you help me ?
Thanks

[2016-08-28 16:40] ZanderBrown commented on #124
explain

[2016-08-28 16:41] babeuloula commented on #124
The identifyLine function doesn't exist

[2016-08-29 09:10] cebe commented on #124
Sorry, the README is not up to date with the latest implementation. Need to fix that.

[2016-09-14 15:32] czukowski opened #125 "Parse without render?"
My use case is extracting links (or in general, any required content) from a markdown file. I could achieve it except for the inline elements, because I cannot call `prepareMarkers` method since it's private.

I can see two possible solutions:

1. Make `prepareMarkers` protected and leave the rest to those who wish to dig in it (eg myself).
2. Keep `prepareMarkers` private, but create a separate m

[2016-09-14 20:33] cebe commented on #125
`prepareMarkers()` is protected: https://github.com/cebe/markdown/blob/04bfcaa26356cf86c6c4a2420eb95857a86e03ab/Parser.php#L294 ?

[2016-09-14 20:34] cebe commented on #125
duplicate of #113

[2016-09-14 20:34] #125 closed

[2016-09-14 20:41] cebe commented on #125
released a new version that includes these changes: https://github.com/cebe/markdown/releases/tag/1.1.1

[2016-09-15 09:57] czukowski commented on #125
Thank you!

[2016-09-20 15:24] svivian opened #126 "PHP Notice: Uninitialized string offset: 0 in /.../inline/LinkTrait.php on line 249"
I'm getting this error on certain pages of my forum. Took a bit of testing but I found that it's due to the `identityReference` method being called with a blank string (then `$line[0]` gives the notice). Strangely this only happens on my live site (PHP 7) and not on localhost (PHP 5.6). On localhost, boolean `false` is passed into the function instead (and `$live[0]` doesn't produce a notice for s

[2016-09-21 09:30] cebe commented on #126
Thanks for reporting this. Of course the parser should not crash regardless how "crappy" the markdown is ;)
I am however not able to reproduce the issue. Can you put the markdown that crashes the parser into http://markdown.cebe.cc/try and send me the link?

[2016-09-21 13:34] svivian commented on #126
Here is the link: http://markdown.cebe.cc/try?flavor=default&text=-+A%0D%0A%0D%0A+-+B%0D%0A%0D%0A+++%0D%0A%0D%0A+-+C%0D%0A%0D%0A+++%0D%0A%0D%0A+-+D

But no notice is shown. What version of PHP is being used on that site? As I said it only gives the notice on PHP 7.

[2016-09-22 09:02] nadar opened #127 "How to customize link behavior to use target=_blank"
Is there any "easy" solution to just make the GitHubMarkdown Parser generate links with `target=_blank`?

I tryed to make a custom Markdown class extending from the GitHubMarkdown and overrride the `renderUrl()` and/or `renderLink()` methods, but its seems not to work at all.

My **not working example** of what i did :-)

[code]

Any suggestion to make this work? Even its not a very elegant soluti

[2016-09-22 13:24] cebe commented on #127
This should work better:

[code]

[2016-09-22 13:24] #127 closed

[2016-09-22 14:08] nadar commented on #127
Works like a charm. And maybe for other people who strugle, here is the full custom markdown class which opens links in a new window:

[code]

[2016-09-30 04:27] taniko opened #131 "Table block not parsed correctly"
## markdown

The bottom two blocks will not parsed correctly

[code]
## html

[code]

[2016-10-13 01:00] snakevil opened #132 "Github flavoured markdown parse code blocks in list incorrectly"
For the following markdown source,

[code]

we're expecting it would be parsed to,

[code]

but the output in fact is,

[code]

[2016-10-13 09:06] cebe commented on #132
that's weird, I thought this was working before... Thanks for reporting!

[2016-10-13 11:35] snakevil opened #133 "Github flavoured markdown nest code blocks with language in em"
Markdown source

[code]

was parsed into

[code]

[2016-10-13 21:52] cebe commented on #133
Sorry, I am unable to reproduce the issue with the markdown you have given here. Can you try to reproduce it on http://markdown.cebe.cc/try and paste the link here?

[2016-10-14 09:01] snakevil commented on #133
Yes, the Try It! made correct codes which are different from my solution.

I'm using v1.1.1 with the following codes, is there anything wrong?

[code]

[2016-10-14 15:39] cebe commented on #133
no, code looks okay, is `markdown\GithubMarkdown()` the direct class from this repo or did you extend it?

[2016-10-20 02:01] snakevil commented on #133
No, I did composer require the package directly.

[2016-10-20 06:48] cebe commented on #133
Sorry, but I am unable to reproduce this and I can not see where `<em>` should come from in the above code...

[2016-10-21 04:01] snakevil commented on #133
Please take a look at [the parsed page](https://scatbay.com/a/2014-07/%E5%A6%82%E4%BD%95%E5%9C%A8%E8%B7%AF%E7%94%B1%E5%99%A8%E4%B8%AD%E5%AE%9E%E7%8E%B0%E9%80%8F%E6%98%8E%E4%BB%A3%E7%90%86%EF%BC%9F) and [the source codes](https://scatbay.com/a/2014-07/%E5%A6%82%E4%BD%95%E5%9C%A8%E8%B7%AF%E7%94%B1%E5%99%A8%E4%B8%AD%E5%AE%9E%E7%8E%B0%E9%80%8F%E6%98%8E%E4%BB%A3%E7%90%86%EF%BC%9F.md).

[2016-10-21 04:05] snakevil commented on #133
Hmm, it seems that the problem was caused by `**注意：*\<SS-LOCAL-PORT>* 是 /usr/bin/ss-local 本地端口。**`. I copied the source codes from a gist, but this parser works a little different.

[2016-10-21 07:06] cebe commented on #133
Passing all that to http://markdown.cebe.cc/try does not cause any issues for me...

[2016-10-21 07:07] cebe commented on #133
Note, that the `\` before `\<SS-LOCAL-PORT>` will cause it to be a real HTML tag. If you remove the `\` you get the following: http://markdown.cebe.cc/try?flavor=gfm&text=**%E6%B3%A8%E6%84%8F%EF%BC%9A*%3CSS-LOCAL-PORT%3E*+%E6%98%AF+%2Fusr%2Fbin%2Fss-local+%E6%9C%AC%E5%9C%B0%E7%AB%AF%E5%8F%A3%E3%80%82**

[2016-10-21 07:55] snakevil commented on #133
OK. Got it! Thanks for your help!

[2016-10-21 07:55] #133 closed

[2016-10-25 15:56] czukowski commented on #107
It can be very hard to get PHP version updated on hosting servers one doesn't own. Also, the related PHP bug https://bugs.php.net/bug.php?id=70156 has been closed for PHP Version: 7.0.0beta2.

Anyway, I've managed to get a workaround for segmentation fault in PHP 5.4.16 (cli) (built: Jun 23 2015 21:17:27) that comes from the "default" CentOS 7 yum repo, by removing some trait aliases in `Markdown.

[2016-10-25 19:36] cebe commented on #107
You can rename the methods in the traits directly it does not matter if they are changed on import or are like that from the beginning.

[2016-10-26 04:30] czukowski commented on #107
Yes, but API-wise, that change will break these traits for anybody who might use them directly.

Also, the order that the class methods are returned from `ReflectionClass::getMethods` doesn't seem to be documented, so there are no guarantees it won't break in the future. I was thinking about a class property that defines the methods order, that should make it future-proof, but will require an extr

[2016-10-26 10:28] cebe commented on #107
I am not going to make the change in the library officially as PHP 5.4 is EOL I suggest to update PHP to fix it or make the changes locally yourself.

They are sorted alphabetically: https://github.com/cebe/markdown/blob/master/Parser.php#L126

I am not planning to change anything about this in version 1.1 and I am not sure whether I will create a 2.0 any time soon.

[2016-10-26 10:34] czukowski commented on #107
I see. Though note that any PHP version before 7 may or may not be affected as well.

[2016-10-27 16:23] Apff opened #134 "Cannot escape Asterisk"
Following code:

[code]

produces:

[code]

instead of:

[code]

[2016-10-31 00:07] cornernote opened #135 "GithubMarkdown not parsing inline code when there are square brackets around it"
[code]

Expected Output:

Actual Output:

reference from:
https://github.com/cornernote/minetest-bower/issues/29

[2016-10-31 14:47] cebe commented on #135
This happens because `[` marks the start of a reference. If the reference is not found, it is replaced with its original text, which is printed unparsed: https://github.com/cebe/markdown/blob/2c368a9329cde1fdaac30b75d74e20b5c85f70a8/inline/LinkTrait.php#L224

The fix should be to parse the content and render its absy as it is done when the link is created:
https://github.com/cebe/markdown/blob/2c3

[2016-10-31 14:48] cebe commented on #135
Here are some failing tests:

[code]

[2016-12-05 05:46] dafydd2277 opened #137 "Please expand installation instructions"
PHP 5.4.16 on CentOS 7.2.

Composer installed into `/usr/local/bin` without problems, and declared my `php.ini` file correct. Composer then installed cebe/markdown without problems.

I added the line `$parser = new \cebe\markdown\GithubMarkdown();` and got

[code]

I added these lines ahead of the `$parser` declaration

[code]

and got the same error message.

Should I have inferred an `include()`

[2016-12-05 07:02] josegonzalez commented on #137
With composer, you need to require the `vendor/autoload.php` if you aren't already doing so in a framework or toolkit. [Thats just how it works](https://getcomposer.org/doc/01-basic-usage.md#autoloading), nothing specific to cebe/markdown.

[2016-12-09 15:31] Luceos commented on #109
@cebe are you sure you will not support frontmatters in your package?

- If yes, would you mind me forking yours adding the logic and re-distributing it under a different name?
- If no, can you give me some pointers how to write tests for them?

@mindplay-dk my current implementation is that you can simply add a trait and the respective meta is parsed automatically:

[code]
Actually retrieving met

[2016-12-09 19:05] cebe commented on #109
@Luceos there is no need to fork my library for this, you can make a package that is able to do this like the following (basically something like an adapter pattern):

[code]

That package will depend on my library in composer.json. I can also add a link to it in my readme if you like.

Forking my library is not a good idea in this case because it will not allow users to combine different features

[2016-12-09 21:41] Luceos commented on #109
@cebe thanks for your feedback, I hadn't considered either of those options yet. I'll probably follow up on the ioc version, it makes most sense and allows most flexility to the user.

[2016-12-11 12:21] Luceos commented on #109
The package is [hyn/frontmatter](https://github.com/hyn/frontmatter) for whoever has the same question, including @mindplay-dk

[2016-12-11 13:37] cebe commented on #109
Nice! added it to the README: https://github.com/cebe/markdown/blob/master/README.md#extensions

[2016-12-24 20:00] samirspatel opened #138 "Warning: Class __PHP_Incomplete_Class has no unserializer"
Getting this error when trying to install on php7 using symfony 3.2

[2016-12-24 20:03] samirspatel commented on #138
I figured this to be a cache issue in symfony. I had to remove the cache directory using `rm` and will still leave this issue open in case you have some ideas.

[2016-12-25 18:25] cebe commented on #138
how is this related to my library? how did you install it? also is there a stack trace for the error?

[2017-01-30 16:41] #66 closed

[2017-02-01 20:56] remyvhw commented on #126
Same issue here; with PHP 7.1.

`- Hello, world!

This is zonda!`
with two spaces between two \n doesn't work, while,
`- Hello, world!

This is zonda!`
does.

[2017-03-14 22:58] cebe opened #140 "GFM spec"
Github released a GFM spec today: https://github.com/blog/2333-a-formal-spec-for-github-flavored-markdown

[2017-03-31 08:42] GenaBitu commented on #124
Any progress? I would like to write my own extension but cannot get through with anything. Thank you

[2017-04-04 09:21] #124 closed

[2017-07-03 12:44] stefanschindler commented on #126
Experienced exactly the same bug as @remyvhw  with PHP 7.0.18:

Empty lines with blank characters throw an exception:

[code]

[code]

Here is the relevant part of the Stack Trace:

[code]

[2017-07-03 13:08] #126 closed

[2017-07-03 13:09] cebe commented on #126
Thank you all for reporting this. I was able to reproduce the issue now. Committed a fix.

[2017-07-03 13:10] #138 closed

[2017-07-15 11:07] czim opened #145 "Exception thrown on lines with spaces after list"
Rendering markdown as HTML throws an `ErrorException: Uninitialized string offset: 0` in [LinkTrait `identifyReference()`](https://github.com/cebe/markdown/blob/master/inline/LinkTrait.php#L249).

This happens with the following markdown:

[code]

The white-space is imporant here, which is:

[code]

As soon as the above appears in a document, the error occurs.

[2017-07-16 20:57] cebe commented on #145
isn't this fixed by https://github.com/cebe/markdown/commit/7e6fce6b656603c1289a45a41bca065ee8cf3058 ?

[2017-07-17 06:13] czim commented on #145
It may be! But since `empty('  ')` is `false`, I'm not 100% on that and would have to check against my example markdown above.

[2017-10-14 23:37] cebe commented on #26
https://johnmacfarlane.net/babelmark2/?normalize=1&text=text+*+this+is+italic+*+something

[2018-01-08 19:51] christoferd opened #148 "*** --- Not converting to Horizontal Rule HR tag"
Cannot manage to get a HR happening.
Would like "-----" and/or "*****" to convert to a HR line.

---

Tried: Standard, Extra, GitHub
All of which did not produce a line.

PS: I noticed that in GitHub, there needs to be a couple of line carriage breaks before and after the dashes (a clear blank line before and after).... is that the same with cebe/markdown? .... in my use case it still doesn't work

[2018-01-18 11:10] cebe commented on #148
I tried a few examples and they all seem to work fine:

http://markdown.cebe.cc/try?flavor=default&text=a%0D%0A%0D%0A---%0D%0A%0D%0Atest
http://markdown.cebe.cc/try?flavor=gfm&text=a%0D%0A%0D%0A---%0D%0Atest
http://markdown.cebe.cc/try?flavor=gfm&text=a%0D%0A%2A%2A%2A%0D%0Atest
http://markdown.cebe.cc/try?flavor=gfm&text=a%0D%0A%2A%2A%2A%2A%2A%0D%0Atest

can you give an example that does not work?

[2018-02-14 18:28] dakira opened #150 "table align does not always work"
Using the example from the markdown extra site does not properly align the value column in any flavour.

| Item      | Value  |
| --------- | -----: |
| Computer  | $1600  |
| Phone     |   $12  |
| Pipe      |    $1  |

[code]

[2018-03-14 09:37] #89 closed

[2018-03-14 09:43] cebe commented on #150
Unable to reproduce this issue, added a test to verify it: fccb6ac

[2018-03-14 09:43] #150 closed

[2018-03-14 09:44] cebe commented on #150
Seems this was not working in 1.1.1 but its working now.

[2018-03-14 09:45] cebe commented on #150
probably related to #128

[2018-03-14 10:34] #135 closed

[2018-03-14 10:35] cebe commented on #135
fixed, thanks for reporting!

[2018-03-14 10:40] cebe commented on #145
made it more robust with 4225204, thanks for reporting!

[2018-03-14 10:40] #145 closed

[2018-03-14 12:49] #69 closed

[2018-03-14 14:39] #131 closed

[2018-03-14 14:39] cebe commented on #131
this has been fixed by one of the previous table-related commits. added a test to verify that.

Thanks for reporting!

[2018-03-14 14:48] cebe commented on #148
closed until more feedback is provided.

[2018-03-14 14:48] #148 closed

[2018-03-14 14:49] #137 closed

[2018-03-14 14:57] #120 closed

[2018-03-14 15:48] #134 closed

[2018-03-14 15:48] cebe commented on #134
Fixed, thanks for reporting!

[2018-03-14 16:05] cebe commented on #132
your code block is indented 1 space further than the list. Thats why it is picked up as a new paragraph.

Will see if this can be detected better.

[2018-03-14 16:25] #132 closed

[2018-03-14 16:25] cebe commented on #132
Fixed, thanks for reporting this!

[2018-03-14 16:27] cebe commented on #118
in general this could be useful in some ways, but unless someone is willing to work on this, I am not going to add it. Also not really sure whether this belongs here.

[2018-03-14 16:27] #118 closed

[2018-03-14 16:28] #117 closed

[2018-03-14 16:32] cebe commented on #115
hi @olegkrivtsov, is this still relevant? having separate HTML files a reference should probably include the file name to be able to link correctly.

[2018-03-14 20:06] cebe commented on #111
`**\* ABC**` is fixed on master now.

[2018-03-14 20:19] #111 closed

[2018-03-14 20:22] #104 closed

[2018-03-14 20:26] cebe commented on #86
I will not add functionality that is not documented in a markdown flavor or spec, so things like this should be implemented in a custom class. Thanks for the proposal anyway.

[2018-03-14 20:26] #86 closed

[2018-03-14 20:28] cebe commented on #73
there is a tradeoff between extensibility and performance. parsedown is performance, this lib is extensible. I will still do some profiling to see what can be improved but closing this issue for now.

[2018-03-14 20:28] #73 closed

[2018-03-14 20:35] cebe commented on #55
I read the issue twice but I do not understand what to do with it. This library implements markdown parsing using extisting standards, I am not going to develop new markdown syntax. That is possible in your own application or library by extending the classes provided by this library.

[2018-03-14 20:35] #55 closed

[2018-03-14 20:37] cebe commented on #52
since this issue has been created the library has go an abstract syntax tree, not using DOM as it is not only HTML. Nothing to do here as far as I see.

[2018-03-14 20:37] #52 closed

[2018-03-14 20:38] cebe commented on #51
not going to add it unless implementation is provided by someone else.

[2018-03-14 20:38] #51 closed

[2018-03-14 20:54] #50 closed

[2018-03-14 20:56] cebe commented on #44
not going to add a depdendecy to this lib. syntax highlighting can be added easily by extending the class.

[2018-03-14 20:56] #44 closed

[2018-03-14 21:04] cebe commented on #103
this is noted in the readme already: https://github.com/cebe/markdown#installation-

[2018-03-14 21:04] #103 closed

[2018-03-15 10:32] dakira commented on #150
When I tried this, it didn't work on the "try" site. Now it does, so I guess it was related to something you did in the meantime. ;) Thanks for fixing.

[2018-03-16 12:54] loveorigami opened #154 "composer up not working for yii2"
After ```composer up --prefer-dist``` I get

[code]

This problem I get after your new release 1.2. https://github.com/cebe/markdown/releases/tag/1.2.0

3 days ago ```composer up``` worked fine.

[2018-03-16 14:52] samdark commented on #154
https://packagist.org/packages/cebe/markdown#1.1.0 Tags are in place. Have you updated composer itself recently?

[2018-03-18 06:43] cebe commented on #154
Can you show your composer.json file?

[2018-03-19 07:35] loveorigami commented on #154
Yes, I also see this tag. But it not working.
Today I also did ``` composer self-up```

My composer file

[code]

[2018-03-19 07:38] loveorigami commented on #154
![composer](https://user-images.githubusercontent.com/98164/37583250-b30117c2-2b61-11e8-9b5a-2cf2903bfdc1.jpg)

[2018-03-19 07:46] loveorigami commented on #154
... and if i deleted
[code]
result is same

[2018-03-19 09:54] loveorigami commented on #154
for "yiisoft/yii2": "2.0.*" update is good, because fixed in https://github.com/yiisoft/yii2/issues/15899

[2018-03-19 13:04] samdark commented on #154
Reported to Jordi and Nils via email.

[2018-03-19 13:29] SilverFire commented on #154
For now drop `vendor` and run `composer update`

[2018-03-19 13:44] cebe commented on #154
I suspect the following to be the problem:

1. you have composer.json with `"yiisoft/yii2": "2.0.14.2",` which depends on [`"cebe/markdown": "~1.0.0 | ~1.1.0"`](https://github.com/yiisoft/yii2-framework/blob/ef74f3783e964cea477f06e6d6ce209df1f37881/composer.json#L72).
2. before I released 1.2.0, there was a `branch-alias` in composer.json of [cebe/markdown: `"dev-master": "1.1.x-dev"`](https://git

[2018-03-19 13:48] samdark commented on #154
Nils confirmed that packagist/composer are OK i.e. UI displays correct data.

[2018-03-20 07:26] loveorigami commented on #154
@cebe Many Thanks!

[2018-03-22 04:38] taniko commented on #131
thank you for fix it

[2018-04-16 15:36] fardina opened #156 "Does it support Mathjax?"
Hello

Does cebe-markdown support Mathjax?

There are some conflicts between markdown and mathjax: http://docs.mathjax.org/en/latest/tex.html#tex-and-latex-in-html-documents

Thanks.

[2018-04-18 09:34] cebe commented on #156
you can write an extension for mathjax, by adding a parser method for the `$` marker. It is not supported by default.

[2018-04-18 09:34] #156 closed

[2018-04-25 18:27] glensc opened #157 "links with references are not parsed"
[code]

[code]

[2018-04-30 15:46] cebe commented on #157
references are considered as block elements and do not work in `parseParagraph()`.

It works when you parse full markdown: http://markdown.cebe.cc/try?flavor=default&text=here+is+a+%5Blinkref%5D.%0D%0Aand+%5Binline%5D%28http%3A%2F%2Fgoogle.com%29%0D%0A%0D%0A%5Blinkref%5D%3A+http%3A%2F%2Fgithub.com

[2018-04-30 15:51] glensc commented on #157
i switched `$parser->parse` -> `$parser->parseParagraph` because did not need surrounding `<p>..</p>`:

https://github.com/eventum/eventum/commit/8837f45bf7e882ec2d54489cb0db6288b96ac681

[2018-05-01 18:10] cebe commented on #157
it's not only about `<p>` tags, you disable all block elements with that (quotes, code-blocks, headlines, etc...). So if you need any block element you should use `parse()` or customize the markdown syntax.

[2018-05-01 18:10] #157 closed

[2018-06-05 14:08] cebe opened #158 "List indentation parsed incorrectly when mixing ul and ol"
[code]

http://markdown.cebe.cc/try?flavor=default&text=3.+Key+Concepts%0D%0A+++-+Introduction+into+Yii+concepts%0D%0A+++++-+Components%0D%0A+++++-+Properties%0D%0A+++++-+Events%0D%0A+++++-+Behaviors%0D%0A+++++-+Configurations%0D%0A+++++-+Aliases%0D%0A+++++-+Service+Locator+and+Dependency+Injection+%28DI%29%0D%0A++-+Framework+structure+overview%0D%0A++-+Common+application+structure+patterns%0D%0A+

[2018-06-07 17:25] davidnewcomb opened #159 "Extensions list is out of date"
In the README.md file:

`kartik-v/yii2-markdown` now uses [michelf's](https://github.com/michelf/php-markdown) markdown instead of cebe. See https://github.com/kartik-v/yii2-markdown/blob/master/composer.json

[2018-06-13 20:40] cebe commented on #159
Seems it has never used it but has planned to use it in 2014 :)

I'll remove the line from readme for now :)

[2018-06-13 20:42] #159 closed

[2018-06-13 20:42] cebe commented on #159
Fixed, thanks for the hint!

[2018-07-19 01:28] svivian opened #160 "Table with indentation on cells does not work"
Using Markdown Extra. Example:

	Test long field | Something
	--------------: | ----------
	              1 | Test
	              2 | Test
	              3 | Test

Resulting HTML:

	<table>
	<thead>
	<tr><th align="right">Test long field</th><th>Something</th></tr>
	</thead>
	<tbody>
	</tbody>
	</table>
	<pre><code>          1 | Test
	          2 | Test
	          3 | Test
	</code></pre>

The spac

[2018-07-21 12:02] cebe commented on #160
Github also does render it like this:

Test long field | Something
--------------: | ----------
              1 | Test
              2 | Test
              3 | Test

[2018-07-21 12:03] cebe commented on #160
It could probably be changed to render as a table.

In the meantime you can use it like this:

[code]

| Test long field | Something
| --------------: | ----------
|               1 | Test
|               2 | Test
|               3 | Test

[2018-07-29 16:11] spinitron opened #161 "Don't use comments?"
It's not ideal that this relatively small dependency dictates `opcache.save_comments=1` at the web server config level.

I think you could refactor the `parseXyz()` methods and `@marker` comments that are organized into classes and traits into `\Closure`s and strings organized into assoc arrays.

What do you think?

[2018-07-29 22:50] cebe commented on #161
does `opcache.save_comments=0` really safe some resources or improve speed? In general composition of markdown features could be implemented in a different way, but I do not think it is really necessary.

[2018-08-08 23:56] spinitron commented on #161
Fwiw, OPcache stats from my servers currently show

- number of scripts 1430
- 11 of them under cebe/markdown
- 36.3 MiB without comments
- 39.6 MiB with comments, about 9% more

Not a huge difference but it's not insignificant.

[2018-08-10 12:33] buttflattery opened #162 "Php 7 compatibility"
can i use this extension with php7? as the file `inline/Linktrait.php` as the line

`$normalizedKey = preg_replace('/\s+/', ' ', $key);`

inside the function `protected function lookupReference($key)` which needs to be replaced with the `preg_replace_callback`

Proposed change
[code]

[2018-08-12 00:14] tnguyen444 commented on #154
Hi is there an actual solution to this problem?  I have having the same error message.

[2018-08-12 21:52] #162 closed

[2018-08-13 08:10] cebe commented on #154
@tnguyen444 are you able to reproduce the problem in a minimal setup of composer? Would be worth reporting that as a bug.

[2018-08-13 09:33] cebe commented on #154
I tried to rebuild this problem with a minmal set of packages but I am unable to reproduce it with composer 1.7.1, maybe it has been resolved already? I found something else that is weird when using `minimum-stability: dev`, reported that in https://github.com/composer/composer/issues/7544

[2018-08-13 09:48] cebe commented on #154
could be related to https://github.com/composer/composer/issues/7329

[2018-09-19 03:33] yookoala opened #163 "Fix inline HTML support with <details> and <summary> in Github flavored markdown"
[&lt;details&gt;](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) and [&lt;summary&gt;](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary) are tags introduced in HTML5 as a way to enclose collapsible / expandable widgets. Both [Github](https://gist.github.com/ericclemmons/b146fe5da72ca1f706b2ef72a20ac39d) and [Gitlab](https://docs.gitlab.com/ee/user/markdown.html

[2018-09-19 07:52] yookoala commented on #163
Real-life example: Same README on different platforms

* https://gitlab.com/phata/hook/blob/v1.x/README.md
* https://packagist.org/packages/phata/hook

[2018-10-18 06:59] jeff-studionone opened #164 "ListTrait looping through all lines"
Hey, guys, I wonder why do you loop through all lines even if you have the `$current`
It wouldn't be faster to go directly to that line and consume it?

[ListTrait.php](https://github.com/cebe/markdown/blob/530bc7dcbdfea5ad2da030110ee3ac07cc797f90/block/ListTrait.php#L81)

[2018-10-18 07:11] cebe commented on #164
That code does not loop all lines, it starts at `$current`.

`$i = $current` is executed on start of the loop, so I starts at current line and not at `0`.

[2018-10-18 07:11] #164 closed

[2018-10-18 07:33] jeff-studionone commented on #164
yes, you are right. Thank you

[2018-10-30 13:16] mizunashi-mana opened #165 "Code block with empty newline does not working"
Below text is not parsed correctly.
[code]

Expect output:
[code]

This code is valid with CommonMark: https://spec.commonmark.org/dingus/?text=%60%60%60%0Acode%20block%0A%0Aincluded%20empty%20newline%0A%60%60%60%0A

Actual output:
[code]

[2018-10-30 13:47] mizunashi-mana commented on #165
Oh... sorry, I misunderstood.
Traditional markdown is not CommonMark and Traditional markdown does not support Fenced Code Block.
Therefore, this is true act.

[2018-10-30 13:47] #165 closed

[2018-11-02 11:42] cebe commented on #165
yeah, you need to use GithubMarkdown class for fenced code blocks.

[2018-12-05 15:18] Ekultek opened #166 "Cross site scripting vulnerability"
# Issue

There is a reflected and/or stored xss vulnerability (depending on how the markdown is parsed from text or from a file) in all of the following parsers:

 - `GithubMarkdown`
 - `Markdown`
 - `MarkdownExtra`

# How?

The vulnerability occurs when a user crafts a malicious payload with characters before a 3 backticked wrapped payload, thus bypassing the parser escape. For example, here is a

[2018-12-05 16:19] samdark commented on #166
Markdown doesn't ensure output is secure in any way by definition. It is allowing HTML so you don't need to craft it like that, just use `<script` directly.

[2018-12-05 16:20] samdark commented on #166
I don't think escaping HTML is the job of markdown processing library.

[2018-12-05 16:35] Ekultek commented on #166
@samdark then why does it escape it if the payload isnt crafted?

[2018-12-05 17:01] samdark commented on #166
https://daringfireball.net/projects/markdown/syntax#autoescape

[2018-12-05 17:01] Ekultek commented on #166
@samdark if you need a PoC you can use the following:

[code]

You can follow the example given if you want, since this is a markdown parser, the code needs to be put into markdown format, the first example will not render anything and will change the special characters as needed for formatting. But if you craft the payload with the second example, it will render successfully.

[2018-12-05 17:03] samdark commented on #166
That's expected. You should process result of markdown conversion with something like http://htmlpurifier.org/ if you want to allow users to enter text.

[2018-12-05 17:05] samdark commented on #166
For example, see https://github.com/yiisoft-contrib/yiiframework.com/blob/master/widgets/views/comments.php#L44 and https://github.com/yiisoft-contrib/yiiframework.com/blob/a88510f17e6fdf225248b822022798baa679d78b/components/Formatter.php#L100

[2018-12-05 17:05] Ekultek commented on #166
@samdark I shouldn't need to rely on a second library because one of them doesn't do its job properly

[2018-12-05 17:07] samdark commented on #166
Please re-read markdown specification. It says explicitly that it allows any HTML by design and it's unsafe by definition to allow users to enter markdown w/o further escaping/cleanup.

[2018-12-05 17:08] samdark commented on #166
It's not the job of the markdown parser to escape/cleanup output.

[2018-12-05 17:11] samdark commented on #166
https://michelf.ca/blog/2010/markdown-and-xss/

[2018-12-05 17:12] Ekultek commented on #166
[this](https://github.com/erusev/parsedown/pull/495) parser escapes it, so why cant this one?

[2018-12-05 17:16] Ekultek commented on #166
The point of a parser is to render the data in a safe way. You're saying I should rely on a second library to render the data in a safe way, why should I have to do that when this parser is already here and should do that for me?

[2018-12-05 18:24] samdark commented on #166
No since it's a markdown parser and markdown wasn't meant to be safe.

Yes.

This parser converts markdown to HTML. Markdown, by definition, allows *any* HTML and that is unsafe if you allow users to enter data you render. There are valid use cases for non-filtered HTML. For example, you can allow full markdown for admin only and that's huge flexibility. You can do [things like this](https://rmcre

[2018-12-05 18:42] Ekultek commented on #166
@samdark You sure are a walking security violation.

[2018-12-05 18:46] Ekultek commented on #166
@samdark I think you should incorporate HTMLPurifier into the code itself if that is what would be needed to fix the XSS issues in it. That would probably save you guys a lot of headache along with people like me who find bugs in stuff that they use sometimes. Thank you for your input I'll wait for @cebe

[2018-12-06 11:10] cebe commented on #166
Thanks for the detailed report. As pointed out by @samdark this is due to the nature of markdown and not a bug. You may remove HTML support by creating your own Markdown flavor class, which does not render the HTML, but the safest solution is to use HTML Purifier or similar tools.

I added a section in the README about this: https://github.com/cebe/markdown/blob/master/README.md#security

[2018-12-06 14:10] Ekultek commented on #166
@cebe This still does not explain why it mitigates simplistic attacks such as:
[code]
into:
[code]
If you are saying that the design of the parser allows this, then the simplistic attacks as stated would not work.

[2018-12-06 15:16] cebe commented on #166
Code tags are expected to display the raw text inside them, that means every HTML inside code tags is escaped properly. In your case above you had multiple code tags: ```` ``` ```` was converted to `` <code>`</code> ```, so the script tag was not inside the code tag in that case.

[2018-12-06 15:32] Ekultek commented on #166
So then if that is the case, there is a bug in your code with multiple code tags.

[2018-12-06 15:59] cebe commented on #166
Well, the rendering is technically correct according to the markdown spec. If you use multiple backticks you need to [leave space before and after the code](https://johnmacfarlane.net/babelmark2/?normalize=1&text=something+%60%60%60+%3Cscript%3E+%60%60%60).

But it seems other parsers are doing it differently....

https://johnmacfarlane.net/babelmark2/?normalize=1&text=something+%60%60%60%3Cscript

[2018-12-06 16:00] cebe commented on #166
related to #99

[2018-12-06 16:10] Ekultek commented on #166
I got the bug tag, never been more happy in my life lol

[2018-12-14 03:03] yookoala commented on #163
composer/packagist#974 has fixed the problem displaying the HTML tags. But the markdown within the tag is not parsed normally. I'm not sure if it is caused by this library, or how Packagist is using it.

[2018-12-14 09:15] yookoala commented on #163
As reported in composer/packagist#978, @Seldaek pointed out it is likely to be a problem in the markdown library. Quote:

[2018-12-14 09:31] stof commented on #163
See http://johnmacfarlane.net/babelmark2/?normalize=1&text=%3Cdetails%3E%3Csummary%3ESome+PHP+example+(collapsed)%3C%2Fsummary%3E%0A%0A%60%60%60php%0A%3C%3Fphp%0A%0A%2F%2F+this+is+a+comment%0Aecho+%22hello+world%22%3B%0A%0A%3F%3E%0A%60%60%60%0A%0A%3C%2Fdetails%3E for a comparison of the different markdown parsers for that input.

[2019-01-16 07:13] cebe commented on #163
This is expected because markdown is not parsed inside HTML blocks.

As github is doing it we might add that feature to the GithubMarkdown class.

Btw, I was not aware that packagist is using this library :)

[2019-01-16 09:52] stof commented on #163
@cebe CommonMark (which GFM is based on now) defines that it is processed if there are empty lines between the HTML markup and the Markdown markup (which probably means it does not require balanced tags in the HTML blocks, and so the empty line makes the structure be `HTML > MD > HTML` instead of just `HTML`, but I haven't checked in the spec).

See http://johnmacfarlane.net/babelmark2/?normalize=

[2019-03-14 10:20] gdemarcsek opened #168 "Potential XSS in link rendering"
It seems `LinkTrait` tries to prevent XSS by using `htmlspecialchars` here when rendering markdown links: https://github.com/cebe/markdown/blob/530bc7dcbdfea5ad2da030110ee3ac07cc797f90/inline/LinkTrait.php#L230

However, this is insufficient, as an attacker could use the payload:

`javascript:document.write(...)`

to create a link that would execute potentially malicious JS when the victim clicks

[2019-03-14 10:59] samdark commented on #168
It doesn't try doing that. See https://github.com/cebe/markdown#security-considerations-

[2019-03-19 21:08] cebe commented on #168
As pointed out by @samdark you need to apply additional filtering to get secure output. htmlspecialchars is used to create valid HTML, e.g. convert `&` to `&amp;`.

[2019-03-19 21:08] #168 closed

[2019-03-20 10:07] nunofernandes commented on #166
Any idea when we will have the 1.2.1?

Thanks,

[2019-04-09 10:32] Soaku opened #169 "GFM: Line break using a backslash"
The GFM spec specifies that to make a line break, [a backslash can be used](https://github.github.com/gfm/#hard-line-breaks) so it is more visible. It also better because some editors automatically remove trailing whitespace.

The `GithubMarkdown` class [doesn't support those](http://markdown.cebe.cc/try?flavor=gfm&text=test%5C%0D%0Atest). Only double-space breaks are allowed. It would be really n

[2019-04-10 08:20] cebe commented on #169
seems it is a newly added feature.

- `\` is a marker for the `parseEscape` function, so extending it should allow implementing this:

https://github.com/cebe/markdown/blob/eeb1bf622e80f337479e00a5db94c56e7cf1326b/Parser.php#L368-L378

have not checked it in detail though.

[2019-07-03 19:43] tyler-ham commented on #166
I just stumbled across [CVE-2018-1000874](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000874) referencing this issue and wanted to leave a note with my thoughts. I disagree with the CVE-2018-1000874 being assigned as an XSS vulnerability in `cebe/markdown`.

## Dispute of Vulnerability CVE-2018-1000874

I agree with @samdark that it is not the responsibility of the markdown processor

[2019-07-08 08:16] cebe commented on #166
Hi, thanks for the detailed post. I was not aware of a CVE being assigned to this issue and I agree that this is not a security issue. The documentation in the README explains this situation in detail: https://github.com/cebe/markdown#security-considerations-

I have requested the CVE to be rejected.

[2019-07-08 18:50] tyler-ham commented on #166
No problem. I also put in a request and just received this response from Mitre:

[2019-10-15 12:26] doekenorg commented on #29
We also needed this, so we built a trait for it you can easily `use`.

Get your copy right here: https://packagist.org/packages/kirra/markdown-task-lists.

[2019-11-18 21:55] zhukovsergei opened #171 "Difference traditional and GitHub markdown"
Hello I have some question, where I can find the difference between versions of parser? For example traditional and GitHub. Thanks a lot.

[2019-11-18 22:13] samdark commented on #171
https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown

[2019-11-18 22:40] zhukovsergei commented on #171
Yes this is link I have too. But what is the traditional markdown, I want to find out the difference.

[2019-11-18 23:36] cebe commented on #171
There are links to the different flavors in the README:

https://github.com/cebe/markdown#what-is-this-

[2019-11-18 23:36] #171 closed

[2020-01-15 23:57] Ayesh commented on #161
I'm interested in to see if there is any development in this issue.

Ubuntu, Debian and `oenrej/php` PHP packages have default configuration `opcache.save_comments=1`, but I personally turn it off save some opcache space. This is my only blocker that prevents me using this awesome package.

Thank you.

[2020-01-24 13:06] cebe commented on #161
If you want to use this lib without comments, you could extend the markdown flavor class you want to use and override the following method:

https://github.com/cebe/markdown/blob/eeb1bf622e80f337479e00a5db94c56e7cf1326b/Parser.php#L254-L285

if you hardcode the array of markers and function names it should all work with `opcache.save_comments=0`.

I might add some docs about it and possibly also a

[2020-01-30 13:47] billythekid commented on #166
This is currently being [reported by snyk](https://snyk.io/vuln/SNYK-PHP-CEBEMARKDOWN-72733) It does mention it's "fixed" by way of the readme edit but I guess because these commits aren't published as a version yet it's still flagging it.

Might this get a push to a 1.2.1.1 / 1.2.2 so we can clear this up too?

[2020-02-01 00:46] Ekultek commented on #166
I agree with the dispute.

[2020-02-26 01:49] cebe commented on #166
I have contacted snyk and asked them to remove the report.

[2020-02-26 22:00] cebe commented on #166
FYI: The issue is not reported by snyk anymore.

[2020-03-29 01:33] axieum opened #172 "Can this be used to pretty print Markdown?"
I am looking to take a loosely formatted Markdown text (inconsistent line breaks, spacing, etc.) and beautify (or pretty print) the contents of it.

If not, I would like to request such feature, as this is the most robust Markdown parser I have come across! 🥇

[2020-03-29 09:57] samwilson commented on #172
No good?

[2020-03-30 10:10] samdark commented on #172
As far as I'm aware, there's no such feature yet.

[2020-03-30 13:15] cebe commented on #172
So that would be something like PHP-CS-Fixer, but for markdown?

[2020-03-30 14:52] cebe commented on #172
reference https://github.com/thephpleague/commonmark/issues/419

[2020-04-21 00:13] marcinkorytkowski opened #173 "Definition list is not rendered"
Follow documentation for definition list you need use code:
[code]
but it not works.

[2020-04-21 08:30] cebe commented on #173
which documentation is that? and which parser class are you using?

[2020-04-21 10:26] marcinkorytkowski commented on #173
There is in that documentation: http://michelf.ca/projects/php-markdown/extra/
Ok, sorry, I did't notice your comment (https://github.com/cebe/markdown/issues/25). It is not implemented yet. Sorry again.

[2020-04-21 10:26] #173 closed, assigned to nobody

[2020-05-18 13:21] Wulfheart opened #174 "Get all headings for table of contents"
Hello,

is it possible to get all headings from a string in an extension? I need this for autogenerating a table of contents.

Thank you in advance

[2020-05-29 19:29] phpfui opened #175 "Support for PHP source directory"
Carsten,

This is a great package.  Been using it for a while on my [PHPFUI](http://phpfui.com/?n=cebe%5Cmarkdown&c=Markdown) site which easily documents any PHP code.

I was wondering if you would be up for a Pull Request to put the PHP source in it's own directory.  This is pretty standard practice for PHP libraries. I would be willing to submit one, I just don't want to do the work if you have

[2020-05-31 21:22] samdark commented on #175
You mean `src`?

It is already PSR-4: https://github.com/cebe/markdown/blob/master/composer.json#L30

[2020-05-31 21:39] phpfui commented on #175
Yes, src directory. And yes, it is already PSR-4, so no change needed there.

This will separate test code from the actual code.

I can probably submit something this week if you want to go ahead with it.

Thanks for considering this.

On Sun, May 31, 2020, 5:23 PM Alexander Makarov <notifications@github.com>
wrote:

[2020-05-31 22:02] samdark commented on #175
That's for @cebe to decide but I support this move.

[2020-05-31 23:19] phpfui commented on #175
Sorry, not sure who is who from my phone, but appreciate the plus one!

On Sun, May 31, 2020, 6:02 PM Alexander Makarov <notifications@github.com>
wrote:

[2020-06-02 23:23] cebe commented on #175
what are the arguments for doing this? I only see one argument, that your tool is unable to distinguish files?

[2020-06-03 00:44] phpfui commented on #175
I think the primary reason is just to separate things so they are better defined for users and tools.  Most PHP packages use an src directory, but it could be named source or something else.  The point is to tell the user this is all that is really needed for this package to work.  You can also point a tool at it one source directory, and it will have everything it needs to know about.  Right now,

[2020-06-03 01:28] samwilson commented on #175
Relatedly, there's some good info at [php-pds/skeleton](https://github.com/php-pds/skeleton) about common directory structures for PHP projects. They recommend `src/` and `tests/` among other things.

I guess it mostly comes down to standardization, and making it slightly quicker for people new to a project to know where things are.

[2020-07-23 14:29] Bebup opened #176 "Tags separated by spaces are rendered together"
My markdown has something like
`**One** **Two** **Three**`

It is rendered as:
`<strong>One</strong><strong>Two</strong><strong>Three</strong>`

There are no spaces between the tags

[2020-10-07 09:47] cebe commented on #176
It is working fine here: http://markdown.cebe.cc/try?flavor=default&text=+%2A%2AOne%2A%2A+%2A%2ATwo%2A%2A+%2A%2AThree%2A%2A are you doing anything special, did you extend the Markdown class or further processing of the rendered output?

[2020-10-07 09:53] cebe commented on #174
There is an implementation of this in yii2-apidoc package:

https://github.com/yiisoft/yii2-apidoc/blob/e56aa1f065e4ece1a68b21de653b02ed0da2dadd/helpers/ApiMarkdown.php#L94-L121

could be useful to extract this into a trait and add it to this package. Happy to review and merge pull requests for this.

[2020-10-07 10:00] #154 closed

[2020-10-07 10:03] cebe commented on #161
this can be solved in PHP 8 by using attributes: https://wiki.php.net/rfc/attributes_v2

[2020-10-07 13:51] spinitron commented on #161
@cebe, yes I'm sure it can. It can be solved also with conventional programming.

But the issue with opcache is actually small enough. Allocate enough memory to opcache and stop worrying about it.

In my case the problem has gotten smaller with time as I use fewer comments. With type hints and good names for functions and parameters, comments can be redundant.

[2020-10-09 20:09] akshitagupta20 commented on #174
@cebe
Hi, I would like to contribute. How should I proceed?

[2020-10-09 23:17] cebe commented on #174
@akshitagupta20 Hi, thanks for offering help. The solution would be a trait, that can be added to a custom markdown class:

[code]

`HeadlineExtractionTrait` should be a class from this repo and should contain the code similar to the one linked above, providing the collection of headlines as well as a `getHeadlines()` method.

Hope that is clear, feel free to ask more detailed question.

[2020-10-15 18:27] akshitagupta20 commented on #174
I am really new with Open-Source and I am very much interested in contributing not just cause of Hacktoberfest, so can you please further guide me how to solve this issue.
If you could spare some time, Es wäre eine große Hilfe.

[2021-01-05 19:25] Yaco commented on #25
@josegonzalez your link is dead, could you provide an update one? Would be useful to complete footnote support. Thanks!

[2021-01-16 15:59] panrus commented on #25
I created new block FooterTrait in MarkdownExtra.
[Footnotes implementation](https://github.com/panrus/markdown)

[2021-01-20 14:36] mizunashi-mana commented on #25
@panrus Can you send a PR to this repo?

[2021-01-20 18:07] josegonzalez commented on #25
I no longer have my version, but good to hear that someone else has stepped up :)

[2021-02-04 11:38] buddh4 opened #179 "Table without body at the end of markdown not detected"
The following markdown table without body at the end of the markdown text is not detected and will be rendered as paragraph:

[code]

while this one is detected (due to the following line):

[code]

Due to this check: https://github.com/cebe/markdown/blob/master/block/TableTrait.php#L23

[2021-09-16 01:42] samwilson opened #181 "Confirm (modified) PSR2 coding standard"
Is there a phpcs ruleset that should be used for this repo? I'm working on adding footnotes and nearly have a patch ready.

[2021-09-16 21:53] jmauzyk opened #182 "renderLink() breaks URLs with query params"
We have a Craft CMS site that uses this package via Yii2. The body of our account activation emails is rendered from markdown and we're running into broken links that prevent users from completing registration.

The activation link URLs have a format similar to `https://craftsite.com/login/pass?code=SEjpQz7MDIhMSmU4IY1xtNEDiClcAqwr&id=9ca06bc2-196a-4734-a1e0-7e98efb90bc3`

However during parsing,

[2021-09-17 04:29] samwilson commented on #182
What actual error are you seeing?

Special characters such as `&` in a URL in an `href` attribute are supposed to be HTML-encoded, so a link such as this is correct: `<a href="https://example.org?a=b&amp;c=d">test</a>`.

Could it be that the HTML being output by this library is being double-encoded? i.e. your link looks like `https://craftsite.com/login/pass?code=SEjpQz7MDIhMSmU4IY1xtNEDiClcAqwr&a

[2021-09-18 18:30] samdark commented on #181
@samwilson none that I'm aware of. @cebe?

[2021-09-20 01:26] samwilson commented on #181
I'll try to match whatever's existing, and go with PSR12 where it's not clear.

[2021-09-20 07:56] samwilson commented on #25
I've had a go at implementing footnotes, building on what @panrus had already done: #183.

[2021-09-20 08:17] samwilson commented on #181
Oops, I only just noticed that it says in `CONTRIBUTING.md`:

[2021-10-03 19:36] RTUnreal opened #185 "h is singled out in parsing"
I want to use this library for a [changelog](https://keepachangelog.com/en/1.0.0/) parser.

But while testing out the output structure of the parser, i found out, it singles out `h`'s in text while using links or references in the text.

The following code sample is used as a baseline (dd is a function from symfony [link](https://symfony.com/doc/current/components/var_dumper.html)):
[code]

the fo

[2021-10-12 09:01] Ayushman00100 commented on #174
@cebe
Hi, I would like to contribute. How should I proceed?

[2021-11-21 01:12] cebe commented on #174
I already explained it above, please ask more concrete question.

[2022-01-10 19:15] androidacy-user opened #186 "[FEATURE] Header links"
GitHub at least includes the ability to create header links. This for instance makes the #header-1 link to the first heading named Header, ie
[code]
However, this library makes those links absolute, meaning it now links to the original github repository, thereby taking them off our website.

Is there a way to make the links relative that I'm missing, or could that be made a new feature if it's not

[2022-01-11 07:49] samwilson commented on #186
Where are you seeing it create those as absolute links? It seems to just use it verbatim:

[code]

But you're probably right, it'd be good to add IDs to headers in the same way that GitHub does.

[2022-01-11 15:13] androidacy-user commented on #186
Here's the ouput of [this README](https://github.com/Magisk-Modules-Repo/MagiskHidePropsConf/blob/master/README.md), parsed using this library.

<details>
  <summary>Excluding the outer div, this is exeactly what was output:</summary>

[code]

</details>

Notice the links are absolute links to the README, thereby taking the user off-site.

[2022-01-11 15:15] androidacy-user commented on #186
TBH, I think that README is actually written that way, but I think we could safely remove the github link and leave just the hash if we're using GFM

[2022-01-11 23:25] samwilson commented on #186
I don't think it's possible to remove the absolute link when parsing that. How would the parser know that the document is a Github readme?

And you're right, it looks like the readme you linked is intentionally adding fully qualified links.

[2022-01-12 00:03] androidacy-user commented on #186
That's where the gfm being specified comes in 😁
Perhaps a specific option to make that happen, `false` by default, then with that on turn any GitHub links with hashes to just hashes

[2022-01-12 04:39] samwilson commented on #186
Why not just leave the URLs out of the Markdown though? I'm not sure I really understand the use case here. :-) I do think adding anchors is a good plan though, and following GitHub's method of mapping them.

(Also, note that I'm not a maintainer of this package, just an interested bystander. I'm not really sure if @cebe is around here much any more.)

[2022-01-12 04:43] androidacy-user commented on #186
See.... it's not my package or I'd do just that 😂
I've PR'd the changes but who knows if it'll get merged.

My use case is the markdown is converted to HTML in a backend API, sanitized, put in a database, and requested on the website and displayed. And obviously with absolute links, that takes the user off site which is suboptimal.

If nothing else, just adding anchor mapping could be enough - I'm

[2022-01-12 05:23] samwilson commented on #186
Hmm that does sound trickier!

[2022-01-14 23:39] PavelD opened #187 "Getting Fatal error Out of memory on ReflectionClass"
Hi,

The `Parser::blockTypes()` use `$this->_blockTypes` array. Is it possible to do the same pattern in `Parser::inlineMarkers()`?

The reflection is costly operation and I'm getting Fatal error when parsing more texts in the row.

[code]

[2022-01-15 10:09] PavelD commented on #187
Sorry, my mistake. i overlooked bug in my code and it was failing in yours.

But getting list of inline parsers should be somehow cached anyway.

[2022-01-15 11:56] samdark commented on #187
Please close the issue then. Thanks.

[2022-01-15 23:08] #187 closed, assigned to nobody

[2022-07-21 19:35] #182 closed, assigned to nobody